* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #111;
  line-height: 1.6;
}

header {
    background-color: rgb(26, 26, 46);
    padding: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

